demoflow.json
{
  "flowContents": {
    "identifier": "41efd145-6ee1-4d31-9fda-574887d009a0",
    "instanceIdentifier": "41efd145-6ee1-4d31-9fda-574887d009a0",
    "name": "SQS-to-S3-to-Local-Fixed",
    "comments": "Event-driven: GetSQS consumes S3 event notifications, the bucket/key are parsed from the message body, FetchS3Object downloads the object, PutFile writes it locally preserving the key path. ListS3 is kept DISABLED for one-time backfill of pre-existing objects. All failure relationships route to LogAttribute.",
    "position": { "x": 0.0, "y": 0.0 },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "dd46f80d-ffaf-4a59-8e66-a70651b7444d",
        "instanceIdentifier": "dd46f80d-ffaf-4a59-8e66-a70651b7444d",
        "name": "GetSQS",
        "comments": "Consumes S3 event notification messages. Auto Delete is safe here because NiFi persists the FlowFile before the session commits; retries then happen inside NiFi.",
        "position": { "x": 0.0, "y": 0.0 },
        "type": "org.apache.nifi.processors.aws.sqs.GetSQS",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-nar", "version": "2.10.0" },
        "properties": {
          "Queue URL": "https://sqs.us-east-1.amazonaws.com/123456789012/my-queue",
          "Region": "us-east-1",
          "AWS Credentials Provider service": "ca26ac0e-99f7-4807-a8c8-c9bb4407d85f",
          "Batch Size": "10",
          "Auto Delete Messages": "true",
          "Character Set": "UTF-8"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "b7f3a2c1-5e6d-4f89-9a01-2b3c4d5e6f70",
        "instanceIdentifier": "b7f3a2c1-5e6d-4f89-9a01-2b3c4d5e6f70",
        "name": "SplitJson",
        "comments": "One S3 event notification can contain multiple Records. Split so each object is processed independently. s3:TestEvent messages (no Records array) route to failure -> LogAttribute.",
        "position": { "x": 0.0, "y": 220.0 },
        "type": "org.apache.nifi.processors.standard.SplitJson",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.10.0" },
        "properties": {
          "JsonPath Expression": "$.Records",
          "Null Value Representation": "empty string"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["original"],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "c8a4b3d2-6f7e-4a90-8b12-3c4d5e6f7a81",
        "instanceIdentifier": "c8a4b3d2-6f7e-4a90-8b12-3c4d5e6f7a81",
        "name": "EvaluateJsonPath",
        "comments": "Extract bucket and object key from each S3 event Record into FlowFile attributes.",
        "position": { "x": 0.0, "y": 440.0 },
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.10.0" },
        "properties": {
          "Destination": "flowfile-attribute",
          "Return Type": "auto-detect",
          "Path Not Found Behaviour": "ignore",
          "Null Value Representation": "empty string",
          "s3.bucket": "$.s3.bucket.name",
          "s3.key.encoded": "$.s3.object.key"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "d9b5c4e3-7a8f-4b01-9c23-4d5e6f7a8b92",
        "instanceIdentifier": "d9b5c4e3-7a8f-4b01-9c23-4d5e6f7a8b92",
        "name": "UpdateAttribute - DecodeKey",
        "comments": "S3 event notification keys are URL-encoded (spaces arrive as '+'). Decode and set 'filename' to the full key so FetchS3Object works for both this path and the ListS3 backfill path.",
        "position": { "x": 0.0, "y": 660.0 },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-update-attribute-nar", "version": "2.10.0" },
        "properties": {
          "Delete Attributes Expression": "",
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "filename": "${s3.key.encoded:urlDecode()}"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "7c0dfce3-9097-4c35-95c1-0981bcd2a33f",
        "instanceIdentifier": "7c0dfce3-9097-4c35-95c1-0981bcd2a33f",
        "name": "ListS3 (backfill only)",
        "comments": "DISABLED. ListS3 is a source processor and cannot be triggered by SQS. Enable temporarily to backfill objects that existed before SQS notifications were configured, then disable again. It emits 'filename' and 's3.bucket' attributes compatible with FetchS3Object below.",
        "position": { "x": 700.0, "y": 0.0 },
        "type": "org.apache.nifi.processors.aws.s3.ListS3",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-nar", "version": "2.10.0" },
        "properties": {
          "Bucket": "my-source-bucket",
          "Region": "us-east-1",
          "AWS Credentials Provider service": "ca26ac0e-99f7-4807-a8c8-c9bb4407d85f",
          "prefix": "",
          "delimiter": "",
          "use-versions": "false",
          "list-type": "2",
          "min-age": "0 sec"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "60 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "0286132f-d18e-437e-8d85-1f5fe6f65a5b",
        "instanceIdentifier": "0286132f-d18e-437e-8d85-1f5fe6f65a5b",
        "name": "FetchS3Object",
        "comments": "Downloads the object named by the SQS event (or by ListS3 during backfill). Failure retries 3 times with penalization, then routes to LogAttribute.",
        "position": { "x": 700.0, "y": 440.0 },
        "type": "org.apache.nifi.processors.aws.s3.FetchS3Object",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-nar", "version": "2.10.0" },
        "properties": {
          "Bucket": "${s3.bucket}",
          "Object Key": "${filename}",
          "Region": "us-east-1",
          "AWS Credentials Provider service": "ca26ac0e-99f7-4807-a8c8-c9bb4407d85f"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "retriedRelationships": ["failure"],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "e0c6d5f4-8b90-4c12-8d34-5e6f7a8b9ca3",
        "instanceIdentifier": "e0c6d5f4-8b90-4c12-8d34-5e6f7a8b9ca3",
        "name": "UpdateAttribute - SplitPath",
        "comments": "Preserve the S3 key's directory structure locally and fix the filename-collision bug: 's3.dirpath' gets the key's directory part (empty if none), 'filename' becomes just the base name. Both expressions evaluate against the incoming attribute values, so ordering is safe.",
        "position": { "x": 700.0, "y": 660.0 },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-update-attribute-nar", "version": "2.10.0" },
        "properties": {
          "Delete Attributes Expression": "",
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "s3.dirpath": "${filename:contains('/'):ifElse(${filename:substringBeforeLast('/')}, '')}",
          "filename": "${filename:substringAfterLast('/')}"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "011ddfc8-d91e-4234-8c1c-368b65dc7d0c",
        "instanceIdentifier": "011ddfc8-d91e-4234-8c1c-368b65dc7d0c",
        "name": "PutFile",
        "comments": "Writes to the local mounted directory, mirroring the S3 key path. Failure retries 3 times, then routes to LogAttribute.",
        "position": { "x": 700.0, "y": 880.0 },
        "type": "org.apache.nifi.processors.standard.PutFile",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.10.0" },
        "properties": {
          "Directory": "/opt/nifi/nifi-current/s3-downloads/${s3.dirpath}",
          "Conflict Resolution Strategy": "replace",
          "Create Missing Directories": "true",
          "Maximum File Count": "",
          "Last Modified Time": "",
          "Permissions": "",
          "Owner": "",
          "Group": ""
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success"],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "retriedRelationships": ["failure"],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "f1d7e6a5-9c01-4d23-8e45-6f7a8b9c0db4",
        "instanceIdentifier": "f1d7e6a5-9c01-4d23-8e45-6f7a8b9c0db4",
        "name": "LogAttribute - Failures",
        "comments": "Terminal failure handler: logs attributes at ERROR so failures raise bulletins and are visible in nifi-app.log. Replace with PutEmail/PutSlack or a dead-letter drop if alerting is needed.",
        "position": { "x": 350.0, "y": 880.0 },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-standard-nar", "version": "2.10.0" },
        "properties": {
          "Log Level": "error",
          "Log Payload": "false",
          "Attributes to Log": "",
          "Attributes to Ignore": "",
          "Log prefix": "S3-copy-failure"
        },
        "propertyDescriptors": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "ERROR",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success"],
        "scheduledState": "ENABLED",
        "retryCount": 0,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "114e44f2-1bbf-440f-802e-9ca974c2f993",
        "instanceIdentifier": "114e44f2-1bbf-440f-802e-9ca974c2f993",
        "name": "",
        "source": { "id": "dd46f80d-ffaf-4a59-8e66-a70651b7444d", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "GetSQS" },
        "destination": { "id": "b7f3a2c1-5e6d-4f89-9a01-2b3c4d5e6f70", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "SplitJson" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "a2e8f7b6-0d12-4e34-9f56-7a8b9c0d1ec5",
        "instanceIdentifier": "a2e8f7b6-0d12-4e34-9f56-7a8b9c0d1ec5",
        "name": "",
        "source": { "id": "b7f3a2c1-5e6d-4f89-9a01-2b3c4d5e6f70", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "SplitJson" },
        "destination": { "id": "c8a4b3d2-6f7e-4a90-8b12-3c4d5e6f7a81", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "EvaluateJsonPath" },
        "selectedRelationships": ["split"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "b3f9a8c7-1e23-4f45-8a67-8b9c0d1e2fd6",
        "instanceIdentifier": "b3f9a8c7-1e23-4f45-8a67-8b9c0d1e2fd6",
        "name": "TestEvent / malformed",
        "source": { "id": "b7f3a2c1-5e6d-4f89-9a01-2b3c4d5e6f70", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "SplitJson" },
        "destination": { "id": "f1d7e6a5-9c01-4d23-8e45-6f7a8b9c0db4", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "LogAttribute - Failures" },
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "c4a0b9d8-2f34-4a56-9b78-9c0d1e2f3ae7",
        "instanceIdentifier": "c4a0b9d8-2f34-4a56-9b78-9c0d1e2f3ae7",
        "name": "",
        "source": { "id": "c8a4b3d2-6f7e-4a90-8b12-3c4d5e6f7a81", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "EvaluateJsonPath" },
        "destination": { "id": "d9b5c4e3-7a8f-4b01-9c23-4d5e6f7a8b92", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "UpdateAttribute - DecodeKey" },
        "selectedRelationships": ["matched"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "d5b1c0e9-3a45-4b67-8c89-0d1e2f3a4bf8",
        "instanceIdentifier": "d5b1c0e9-3a45-4b67-8c89-0d1e2f3a4bf8",
        "name": "unmatched / failure",
        "source": { "id": "c8a4b3d2-6f7e-4a90-8b12-3c4d5e6f7a81", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "EvaluateJsonPath" },
        "destination": { "id": "f1d7e6a5-9c01-4d23-8e45-6f7a8b9c0db4", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "LogAttribute - Failures" },
        "selectedRelationships": ["unmatched", "failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "e6c2d1f0-4b56-4c78-9d90-1e2f3a4b5ca9",
        "instanceIdentifier": "e6c2d1f0-4b56-4c78-9d90-1e2f3a4b5ca9",
        "name": "",
        "source": { "id": "d9b5c4e3-7a8f-4b01-9c23-4d5e6f7a8b92", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "UpdateAttribute - DecodeKey" },
        "destination": { "id": "0286132f-d18e-437e-8d85-1f5fe6f65a5b", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "FetchS3Object" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "f7d3e2a1-5c67-4d89-8e01-2f3a4b5c6db0",
        "instanceIdentifier": "f7d3e2a1-5c67-4d89-8e01-2f3a4b5c6db0",
        "name": "backfill (ListS3 disabled by default)",
        "source": { "id": "7c0dfce3-9097-4c35-95c1-0981bcd2a33f", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "ListS3 (backfill only)" },
        "destination": { "id": "0286132f-d18e-437e-8d85-1f5fe6f65a5b", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "FetchS3Object" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "a8e4f3b2-6d78-4e90-9f12-3a4b5c6d7ec1",
        "instanceIdentifier": "a8e4f3b2-6d78-4e90-9f12-3a4b5c6d7ec1",
        "name": "",
        "source": { "id": "0286132f-d18e-437e-8d85-1f5fe6f65a5b", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "FetchS3Object" },
        "destination": { "id": "e0c6d5f4-8b90-4c12-8d34-5e6f7a8b9ca3", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "UpdateAttribute - SplitPath" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "b9f5a4c3-7e89-4f01-8a23-4b5c6d7e8fd2",
        "instanceIdentifier": "b9f5a4c3-7e89-4f01-8a23-4b5c6d7e8fd2",
        "name": "fetch failed after retries",
        "source": { "id": "0286132f-d18e-437e-8d85-1f5fe6f65a5b", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "FetchS3Object" },
        "destination": { "id": "f1d7e6a5-9c01-4d23-8e45-6f7a8b9c0db4", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "LogAttribute - Failures" },
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "c0a6b5d4-8f90-4a12-9b34-5c6d7e8f9ae3",
        "instanceIdentifier": "c0a6b5d4-8f90-4a12-9b34-5c6d7e8f9ae3",
        "name": "",
        "source": { "id": "e0c6d5f4-8b90-4c12-8d34-5e6f7a8b9ca3", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "UpdateAttribute - SplitPath" },
        "destination": { "id": "011ddfc8-d91e-4234-8c1c-368b65dc7d0c", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "PutFile" },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      },
      {
        "identifier": "d1b7c6e5-9a01-4b23-8c45-6d7e8f9a0bf4",
        "instanceIdentifier": "d1b7c6e5-9a01-4b23-8c45-6d7e8f9a0bf4",
        "name": "write failed after retries",
        "source": { "id": "011ddfc8-d91e-4234-8c1c-368b65dc7d0c", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "PutFile" },
        "destination": { "id": "f1d7e6a5-9c01-4d23-8e45-6f7a8b9c0db4", "type": "PROCESSOR", "groupId": "41efd145-6ee1-4d31-9fda-574887d009a0", "name": "LogAttribute - Failures" },
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS"
      }
    ],
    "labels": [
      {
        "identifier": "3d34c5d3-d9af-4c90-a8cb-9d7b4b0b0ee8",
        "instanceIdentifier": "3d34c5d3-d9af-4c90-a8cb-9d7b4b0b0ee8",
        "label": "EVENT-DRIVEN: the SQS message body (S3 event notification) supplies bucket + key, so FetchS3Object is triggered by SQS with no listing. ListS3 is DISABLED and only exists for a one-time backfill of pre-existing objects. Requires S3 Event Notifications (ObjectCreated) -> SQS to be configured on the bucket. All failures route to LogAttribute.",
        "position": { "x": 1050.0, "y": 0.0 },
        "width": 420.0,
        "height": 200.0,
        "style": {}
      }
    ],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "ca26ac0e-99f7-4807-a8c8-c9bb4407d85f",
        "instanceIdentifier": "ca26ac0e-99f7-4807-a8c8-c9bb4407d85f",
        "name": "AWSCredentialsProviderControllerService",
        "comments": "Uses default credentials chain (env vars, instance profile, etc.).",
        "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService",
        "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-nar", "version": "2.10.0" },
        "properties": {
          "default-credentials": "true"
        },
        "propertyDescriptors": {},
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService",
            "bundle": { "group": "org.apache.nifi", "artifact": "nifi-aws-service-api-nar", "version": "2.10.0" }
          }
        ],
        "scheduledState": "ENABLED",
        "bulletinLevel": "WARN"
      }
    ],
    "variables": {},
    "parameterContextName": null,
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP"
  },
  "parameterContexts": {},
  "parameterProviders": {},
  "flowEncodingVersion": "1.0",
  "externalControllerServices": {}
}
